<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tmj.bookshop.mapper.BookCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.tmj.bookshop.model.BookCategory" >
    <constructor >
      <idArg column="category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    category_id, category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_book_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>

    <select id="listBookCategory" resultType="bookCategory" parameterType="bookCategory">
       select category_id categoryId,category_name categoryName
      from t_book_category
    </select>

  <resultMap id="row" type="com.tmj.bookshop.model.BookCategory">
    <id column="category_id" property="categoryId" javaType="int"/>
    <result column="category_name" property="categoryName" javaType="string"/>

    <collection property="listBooks" ofType="Book">
      <id column="book_id" property="bookId" javaType="int"/>
      <result column="book_author" property="bookAuthor" javaType="string"/>
      <result column="book_name" property="bookName" javaType="string"/>
      <result column="book_price" property="bookPrice" javaType="float"/>
      <result column="cover" property="cover" javaType="string"/>
      <result column="category_id" property="categoryId" javaType="int"/>
    </collection>
  </resultMap>

  <select id="listBookCategoryDeShu" resultMap="row" parameterType="bookCategory">
  select c.category_id,c.category_name,b.book_author,b.book_name,b.book_price,b.cover,b.category_id
  from t_book_category c left join t_book b on c.category_id=b.category_id
  where c.category_id = #{categoryId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_book_category
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tmj.bookshop.model.BookCategory" >
    insert into t_book_category (category_id, category_name)
    values (#{categoryId,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tmj.bookshop.model.BookCategory" >
    insert into t_book_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tmj.bookshop.model.BookCategory" >
    update t_book_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tmj.bookshop.model.BookCategory" >
    update t_book_category
    set category_name = #{categoryName,jdbcType=VARCHAR}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
</mapper>